$borderColor: rgba(255,25,0,0.322);
$errorbg: rgb(192 29 29 /15%);
$errorColor: #ef8d8dfa;
@mixin alert()
.alert-wrapper{
    border: 2px dotted $borderColor;
    border-radius: 0.8rem;
    padding: 1.3rem;
    background-color: $errorbg;
    color: $errorColor;
    .alert-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        .title{
            display: flex;
            align-items: center;
        }
        svg {
            margin-right: 0.8rem;
        }
        .close{
            cursor: pointer;
        }
    }
    p{
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin-top: 1.2rem;
    }
}